.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
	gap: 30px;
}

.main p {
  font-size: 0.9rem;
	text-align: center;
  text-wrap: balance;
}

.nav, .footer {
	display: flex;
	align-items: center;
	gap: 5px;
	justify-content: space-between;
	padding: 20px;
}

.navlinks {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-evenly;
}

.navlinks a:hover, .menu-dropdown a:hover {
	text-decoration: underline;
}

.description {
  display: inherit;
  justify-content: end;
  align-items: flex-start;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a, .card a {
	text-decoration: underline;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid white;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.center h2, .profile-header h2 {
  font-weight: 500;
	padding: 1rem .9rem;
}

.section-header {
	display: flex;
}

.section-header h2 {
  font-weight: 500;
	padding: .25rem .5rem;
	text-align: center;
}

.card p, .center p, .profile-header p, .spotify-disclaimer p,
.related-artist-list p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  text-wrap: balance;
}

.center, .profile-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.center {
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
	display: flex;
	gap: 10px;
}

.spotify-login {
	background-color: #1DB954;
	display: flex;
	align-items: center;
	gap: 8px;
}

.spotify-login p {
	white-space: nowrap;
}

.menu-dropdown, .spotify-username {
	display: flex;
	gap: 10px;
	background-color: inherit;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font: inherit;
  cursor: pointer;
}

.spotify-username:hover {
  border: 1px solid white;
}

.menu-dropdown {
	flex-direction: column;
	font-size: 0.9rem;
	opacity: 0.6;
	line-height: 1.5;
	position: absolute;
}

.button {
	background-color: #1DB954;
}

.button:hover, .spotify-login:hover {
  transform: scale(1.05);
}

.button, .spotify-login, .form-submit select, .form-submit input{
  font-size: .9em;
  font-family: inherit;
}

.button, .spotify-login {
	padding: 0.4em 0.8em;
	border-radius: 8px;
	cursor: pointer;
  border: 1px solid transparent;
	transition: border-color 0.25s;
	color: #191414;
	font-weight: 600;
}

.form-submit {
	display: flex;
	gap: 20px;
	align-items: center;
}

.form-submit label {
	display: flex;
	gap: 15px;
	align-items: center;
}

.form-submit select, .form-submit input{
	width: auto;
  font-weight: 400;
  line-height: normal;
	border: none;
  border-radius: 4px;
	padding: 0.25rem;
	position: relative;
}

.overlap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.info-list, .artist-list, .artist-rec-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 0 20px;
}

.artist-list li {
	display: flex;
	align-items: center;
	gap: 20px;
}

.artist-rec-list li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.overlap-artists {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.related-artist-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.related-artist-list p {
	font-size: small;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
